.container {
    display: flex;
    flex-direction: column;
}

h2, h3 {
    text-align: center;
}

.row-checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pre-label {
    margin-right: .5rem;
}

.row-direction, .row-justify, .row-align {
    display: flex;
    justify-content: flex-end;
    width: rem;
}

label {
    margin-left: 1rem;
}

.flexbox-row {
    display: flex;
    border: 1px solid black;
    height: 25rem;
    margin-top: 1rem;
}

.flexbox-row-item-1 {
    width: 7.5rem;
    height: 7.5rem;
    background-color: green;
}

.flexbox-row-item-2 {
    width: 7.5rem;
    height: 7.5rem;
    background-color: red;
}